.centeredContainer {
  display: flex;
  justify-content: space-between;
  margin: 60px;
}

.cardContainer {
  position: relative;
  margin: 15px;
}

.cardButton {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #0c3e62ee;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.cardButton:hover {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #0c3e62;
  color: rgba(255, 255, 255, 0.906);
  font-weight: bold;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
