.sizeCardLanding {
  width: 480px;
  height: 600px;
  padding: 20px;
}

.positionInternos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.internosImg {
  width: 700px;
  height: 950px;
}

.TitleInt {
  padding-top: 150px;
  margin-left: 20px;
}

.TitleInt1 {
  margin-left: 20px;
  padding-top: 100px;
}


.MenuImg{
  width: 1200px;
  height: 800px;
}