.PosRelative {
  position: relative;
}

.PosAbsolute {
  position: absolute;
}

.sizeCardLanding {
  width: 480px;
  height: 600px;
  padding: 20px;
}

.positionInternos {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 70px;
}
.positionInternos1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.internosImg {
  width: 700px;
  height: 950px;
}

.TitleInt {
  padding-top: 150px;
  margin-left: 20px;
}

.TitleInt1 {
  margin-left: 20px;
  padding-top: 100px;
}

.MenuImg {
  width: 1000px;
  height: 800px;
}

.imgSize {
  width: 400px;
  height: 400px;
  margin-top: -25rem;
}

.imgSize1 {
  width: 500px;
  height: 500px;
}
