.positionModInt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9rem;
}

.positionTitleInt {
  position: absolute;
  top: 13%;
}

.sizeCardInt {
  max-width: 60rem;
  max-height: 40rem;
}
