.mainContainer {
  box-shadow: inset -1px 0 5px #313045;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0c3e62;
}

.buttonDropDown {
  position: absolute;
  right: -1rem;
  top: 1.2rem;
  border: none;
  background-color: #ffffff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0.7px 0.7px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.buttonDropDown:hover {
  background-color: var(--main-color);
  color: var(--background-darkblue);
}

.btnCollapsed {
  position: absolute;
  right: -3rem;
  top: 1.5rem;
  border: none;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0.7px 0.7px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 0;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotateZ(-180deg);
  transform-origin: center;
}

.btnCollapsed:hover {
  background-color: var(--background-darkblue);
  color: var(--main-color);
}

/* .btnCollapsed:hover + .text {
    display: block;
} */

.text {
  padding: 5px;
  opacity: 0;
  position: absolute;
  font-size: 0.8rem;
  font-weight: 400;
  width: 10rem;
  right: -14rem;
  top: 1.5rem;
  color: var(--primary-dark);
  background-color: var(--main-color);
  border-radius: 3px;
  transition: 0.7s ease-in-out;
  font-weight: 400;
  text-transform: uppercase;
}

.btnCollapsed:hover + .text {
  opacity: 1;
}

.filtersContainer {
  margin-top: 1rem;
}

.filters {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

.filters label {
  margin-left: 1.5rem;
}

.filteredContent {
  position: absolute;
  top: 25%;

  width: 15rem;
  height: calc(100vh - 25%);
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1);
}

.filteredContent h6 {
  font-size: 0.9rem;
}

.mainContainer.collapsed .filteredContent {
  left: 0.5rem;
  transform: translateX(-100%);
  transition: left 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.select {
  width: 80%;
  margin: 0.3rem auto;
  font-size: 0.8rem;
  padding: 0 0 0.2rem 0.2rem;
  border-radius: 15px;
}

.select option {
  padding: 0.4rem 0.2rem;
}

.bookingButton {
  font-size: 0.67rem;
  color: #fff;
  width: 80%;
  border: 1px solid #fbc32c;
  border-radius: 8px;
  background-color: transparent;
  height: 2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  transition: 0.5s ease-in-out;
}

.subFilters {
  font-size: 12px;
  font-weight:400;
  color: #ffffffa0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.divider {
  margin: 20px 0;
  height: 2px;
  border: 1px solid white;
  text-align: center;
}
