.sizeCardInt {
  width: 300px;
  height: 400px;
  padding: 20px;
}

.positionModInt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.positionTitleInt {
  position: absolute;
  top: 13%;
}
