.containerFact {
  position: absolute;
  top: 10%;
}

.containerFact2{
  position: absolute;
  top: 60%;
}

.containerFactura {
  position: absolute;
  top: 20%;
  left: 38%;
}

.containerFactura1{
  position: absolute;
  top:20%;
  left: 23%;
}

.containerFactura2 {
  position: absolute;
  top: 67%;
  left: 38%;
}

.containerFactura3{
  position: absolute;
  top: 67%;
  left: 23%;
}

.inputWrapper {
  position: relative;
  margin-bottom: 20px; /* Espacio para separar el label del input */
}

.inputWrapper label {
  position: absolute;
  top: -20px; /* Ajusta este valor para la posición vertical del label */
  left: 0;
  /* Otras propiedades de estilo opcionales para el label */
  font-weight: bold;
}

.inputWrapper input {
  /* Estilos para el input */

  width: 85%;
  padding: 5px;
  border: 2px solid #1960acca;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.inputWrapper input:focus {
  border-color: #0c3e62;
}

.tableContainer {
  width: 800px; /* Ancho fijo */
  height: 200px; /* Alto fijo */
  overflow: auto; /* Añade scroll cuando el contenido excede el tamaño del contenedor */
}

.excelTable {
  width: 100%; /* Utiliza el ancho completo del contenedor */
  border-collapse: collapse; /* Borra los espacios entre celdas */
}

.excelTable th,
.excelTable td {
  border: 1px solid #ddd; /* Añade bordes a las celdas */
  padding: 8px; /* Espacio interno de las celdas */
  text-align: center; /* Centra el texto dentro de las celdas */
}

.excelTable th {
  background-color: #f2f2f2; /* Color de fondo para encabezados */
  
}
