.containerFact {
  position: absolute;
  top: 10%;
}

.containerFactura {
  position: absolute;
  top: 150px;
  left: 38%;
}

.containerFactura1{
  position: absolute;
  top: 150px;
  left: 23%;
}

.inputWrapper {
  position: relative;
  margin-bottom: 20px; /* Espacio para separar el label del input */
}

.inputWrapper label {
  position: absolute;
  top: -20px; /* Ajusta este valor para la posición vertical del label */
  left: 0;
  /* Otras propiedades de estilo opcionales para el label */
  font-weight: bold;
}

.inputWrapper input {
  /* Estilos para el input */

  width: 85%;
  padding: 5px;
  border: 2px solid #1960acca;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.inputWrapper input:focus {
  border-color: #0c3e62;
}
